@font-face {
    src: url(../font/trebuchetms.ttf);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    src: url(../font/trebuc.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
    src: url(../font/trebuchetms.ttf);
    font-family: trebuchet;
}

.col-logo{
    padding-left: 5%;
}

.col-logo img{
    width: 20%;
}

.apa-address address {
    font-size: 15px;
    color: #0C4DA2;
    font-family: 'Oswald',
    sans-serif;
}

.badge-status .badge,
.badge-status .apa-address address {
    float: right;
}

.badge-status .badge {
    padding: 20px 40px;
    font-size: 18px;
    font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    margin-left: -5%;
}

.badge-status .apa-address address{
    clear: both;
    padding-right: 5%;
    padding-top: 2%;
}

.invoce-style{
    padding-left: 3%;
    font-size: 15px;
    color: #0C4DA2;
    font-family: 'Oswald',
    sans-serif;
    
}

.invoce-style h3{
    padding-bottom: 10px;
}

.invoce-style p{
    margin-top: -10px;
    color: slategrey;
    
}

.invoce-style small{
    color: slategrey;
}
